<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeTmEyVmWOkLPSSqDEHCzz0gDW-ZO3C60</string>
	<key>GCM_SENDER_ID</key>
	<string>619455890428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.margleun.curbsense</string>
	<key>PROJECT_ID</key>
	<string>curbsense-21554</string>
	<key>STORAGE_BUCKET</key>
	<string>curbsense-21554.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619455890428:ios:83247e0334f5d279276879</string>
</dict>
</plist>